* {
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    margin: 0;
    padding: 0;
}


/* ------------------------- fonts -------------------------  */

@font-face {
    font-family: 'Carolinea';
    src: url('Carolinea.woff');
}


/* ------------------------ generic classes ---------------------- */

html {
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'open-sans';
    color: #777;
}

a {
    text-decoration: none;
}

img {
  max-height: 100%;
}

/* ------------------------- Classes -----------------------  */

.site-container {
    background: #fff;
    margin: 15px auto 15px;
    max-width: 1240px;
    min-height: 1240px;
    padding: 15px;
}


/* ------------------------ site header ---------------------- */

.site-header {
    height: 300px;
    margin: 0 auto 10px;
    padding: 5px;
    background-color: #fff;
}


/* ------------------------ title ---------------------- */

.title-area {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    overflow: hidden;
    /*background-color: #b9c62f;*/
    /*text-align: center;*/
    float: left;
}

.main-title {
    margin: 75px auto 10px;
    font-family: 'Carolinea';
    font-size: 150px;
    font-weight: 500;
    letter-spacing: .5px;
}

.main-title a {
    color: #fff;
}

.sub-title {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: .3px;
    color: #fff;
    text-transform: uppercase;
}


/* ------------------------ navbar ---------------------- */

.navbar {
    margin-top: 225px;
    padding: 0;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.nav-item {
    display: inline-block;
    margin-top: 0;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px 0;
    text-align: center;
    font-family: 'open-sans';
    font-size: 15px;
    font-weight: 100;
    letter-spacing: .6px;
    color: #777;
    text-transform: uppercase;
}

.sub-menu {
    padding: 5px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sub-item {
    margin: 7.5px;
    display: block;
    text-align: center;
    color: #777;
    text-transform: uppercase;
    font-size: 12.5px;
    font-weight: 100;
    letter-spacing: .6px;
}

.navbar a {
    color: #777;
    display: block;
}

.navbar a:hover {
    color: #afcf58;
}

.nav-item:hover .sub-menu {
    display: block;
}


/* ------------------------ social media ---------------------- */

.social-media {
    float: right;
    background: #ededed;
    padding-left: 15px;
    padding-right: 15px;
}

.social-icons {
    display: inline-block;
    margin: 10px;
    font-size: 11px;
    text-align: center;
}

.fa {
    color: #777;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
    color: #afcf58;
}


/* --------------------------- footer --------------------------- */

.site-footer {
    min-height: 150px;
}

.footer-title {
    margin: 0 auto;
    padding: 70px 20px 5px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 100;
    letter-spacing: .5px;
    text-align: center;
    color: #777;
    text-transform: uppercase;
}

.footer-text {
    margin: 0 auto;
    padding: 5px 20px 50px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 100;
    letter-spacing: .3px;
    text-align: center;
    color: #777;
}

.sign-up {
    padding: 10px;
    text-align: center;
    /*border-top: 1px solid rgba(0, 0, 0, 0.3);*/
}

.sign-up-item {
    display: inline-block;
}

.input-field {
    width: 200px;
    height: 20px;
    margin: 10px;
    padding: 5px;
    border: none;
    background-color: rgba(220, 220, 220, 0.5);
    color: #777;
}

.submit-button {
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
}

.footer-links {
    margin: 20px;
    padding: 50px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.link-item {
    padding: 20px 10px;
    display: inline-block;
    margin: 10px;
}

.link-item a {
    font-family: 'open-sans';
    color: #777;
}

.link-item a:hover {
    color: #afcf58;
}

.copyright a {
    font-family: 'open-sans';
    font-size: 12.5px;
    opacity: .5;
    color: #777;
}


/* ---------------- Test -----------------------*/
